{% extends 'base.html' %} {% load static %} {% block body %}
<!--Criando página Sou Administrador-->
<div class="administrador">
  <form action="" class="form form-administrador">
    <div class="item-janela-cabeçalho">
      <label for="name">Chapa:</label>
      <input
        type="chapa"
        id="chapa"
        name="chapa"
        placeholder="*Digite sua chapa"
        required
        autocomplete="chapa"
      />
    </div>

    <div class="item-janela-cabeçalho">
      <label for="name">Senha:</label>
      <input
        type="password"
        id="password-administrador"
        name="password-administrador"
        placeholder="*Digite sua senha"
        required
        required
      />
    </div>

    <div class="botao-enviar">
      <button type="submit" class="botao">Entrar</button>
    </div>
  </form>
</div>
{% endblock %}
