{% extends 'base.html' %} {% load static %} {% block body %}
<!--Criando página Sou Aluno-->
<div class="aluno">
  <form action="" class="form form-aluno">
    <div class="item-janela-cabeçalho">
      <label for="name">Matrícula:</label>
      <input
        type="matricula"
        id="matricula"
        name="matricula"
        placeholder="*Digite sua matrícula"
        required
        autocomplete="matricula"
      />
    </div>

    <div class="item-janela-cabeçalho">
      <label for="name">Senha:</label>
      <input
        type="password"
        id="password-aluno"
        name="password-aluno"
        placeholder="*Digite sua senha"
        required
      />
    </div>

    <div class="botao-enviar">
      <button type="submit" class="botao">Entrar</button>
    </div>
  </form>
</div>
{% endblock %}
