{% extends 'base.html' %} {% load static %} {% block body %}

<!-- Calendário -->
<div id="calendario-container" class="calendario-container">
  <div class="calendario">
    <div class="month">
      <i class="fas fa-angle-left prev"></i>
      <div class="date">
        <h1></h1>
        <p></p>
      </div>
      <i class="fas fa-angle-right next"></i>
    </div>
    <div class="weekdays">
      <div>Dom</div>
      <div>Seg</div>
      <div>Ter</div>
      <div>Qua</div>
      <div>Qui</div>
      <div>Sex</div>
      <div>Sab</div>
    </div>
    <div class="days"></div>
  </div>
</div>

<!--Criando Janela Horário-->
<div id="horarios-container" class="horarios-container">
  <div onclick="openModalAgendamento()" class="horarios">
    <p>Escolha um Horário:</p>

    <a href="{% url 'confirmacao' %}" class="botao botao-horario"> 9h às 10h</a>
    <a href="{% url 'confirmacao' %}" class="botao botao-horario">10h às 11h</a>
    <a href="{% url 'confirmacao' %}" class="botao botao-horario">11h às 12h</a>
    <a href="{% url 'confirmacao' %}" class="botao botao-horario">12h às 13h</a>
    <a href="{% url 'confirmacao' %}" class="botao botao-horario">13h às 14h</a>
    <a href="{% url 'confirmacao' %}" class="botao botao-horario">14h às 15h</a>
    <a href="{% url 'confirmacao' %}" class="botao botao-horario">15h às 16h</a>
    <a href="{% url 'confirmacao' %}" class="botao botao-horario">16h às 17h</a>
    <a href="{% url 'confirmacao' %}" class="botao botao-horario">17h às 18h</a>
  </div>
</div>

{% endblock %}
