{% extends 'base.html' %} {% load static %} {% block body %}
<!--Criando página Feedback-->

<div class="feedback">
  <form action="" class="form form-feedback">
    <div class="item-janela-cabeçalho">
      <label for="name">Nome:</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="*Seu nome completo"
        required
        autocomplete="name"
      />
    </div>

    <div class="item-janela-cabeçalho">
      <label for="name">Serviço:</label>
      <input
        type="text"
        id="serviço"
        name="serviço"
        placeholder="*Digite o serviço prestado"
        required
        autocomplete="serviço"
      />
    </div>

    <div class="item-janela-cabeçalho">
      <label for="name">E-mail:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="*Digite seu e-mail"
        required
        autocomplete="email"
      />
    </div>

    <div class="item-janela-cabeçalho item-janela-feedback">
      <label class="label-feedback" for="feedback">Feedback:</label>
      <textarea
        name="feedback"
        id="feedback"
        class="text-input"
        cols="30"
        rows="10"
        placeholder="*Escreva seu feedback"
        required
        autocomplete="feedback"
      >
      </textarea>
    </div>

    <div class="botao-enviar">
      <button type="submit" class="botao">Enviar</button>
    </div>
  </form>
</div>
{% endblock %}
