{% extends 'base.html' %} {% load static %} {% block body %}
<!--Criando página gerenciar_administrador-->

<div class="colaborador-container espaço-maior-bottom">
  <h2 class="espaço-menor-bottom">Agendamentos:</h2>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Serviço</th>
        <th>Dia</th>
        <th>Hora</th>
        <th>Finalizado</th>
      </tr>
    </thead>
    <tbody>
      {% for agendamento in agendamentos %}
      <tr>
        <td>{{ agendamento.id }}</td>
        <td>{{ agendamento.cliente.nome }}</td>
        <td>{{ agendamento.serviço.nome }}</td>
        <td>{{ agendamento.agendamento_disponivel.dia }}</td>
        <td>{{ agendamento.agendamento_disponivel.hora }}</td>
        <td>{{ agendamento.finalizado|yesno:"Sim,Não" }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">Nenhum agendamento disponível</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2 class="espaço-maior-top espaço-menor-bottom">Feedbacks:</h2>
  <table border="1">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Serviço</th>
        <th>Feedback</th>
      </tr>
    </thead>
    <tbody>
      {% for feedback in feedbacks %}
      <tr>
        <td>{{ feedback.cliente.nome }}</td>
        <td>{{ feedback.serviço.nome }}</td>
        <td>{{ feedback.feedback }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">Nenhum feedback disponível</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
