{% extends 'base.html' %}
{% load static %}
{% block body %}

<h2 class="h2-agendamento">Escolha uma data:</h2>

<!-- FullCalendar CSS -->
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet" />

<!-- Seu CSS -->
<link rel="stylesheet" href="{% static 'css/global.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<form id="agendamento-form" method="get" action="{% url 'confirmacao' %}">
  {% csrf_token %}
  <input type="hidden" id="selected-date" name="selected_date" />
  <input type="hidden" id="selected-time" name="selected_time" />
  
  <!-- Calendário -->
  <div id="calendar"></div>

  <!-- Horários (inicialmente escondidos) -->
  <div class="container">
    <div id="horarios-container">
      <h2>Escolha um horário:</h2>
      <div id="horarios" class="horarios">
        <!-- Os botões de horários serão carregados via JavaScript -->
      </div>
    </div>
      
    <button type="submit"
      class="botao btn btn-primary mt-3"
      style="display:none;"
      id="btn-confirmar">
      Confirmar
    </button>
  </div>
</form>

<!-- FullCalendar -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>

{% endblock %}
