{% extends 'base.html' %} {% load static %} {% block body %}
<!--Criando página Feedback-->

<h2 class="colaborador-container">Escreva o seu Feedback:</h2>
<div class="feedback">
  <form method="post" action="" class="form form-feedback">
    {% csrf_token %}
    <div class="item-janela-cabeçalho">
      <label for="name">Nome:</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="*Seu nome completo"
        required
        autocomplete="name"
      />
    </div>

    <div class="item-janela-cabeçalho">
      <label for="servico">Serviço:</label>
      <select name="servico" id="servico" required>
        <option value="">Selecione um serviço</option>
        {% for servico in servicos %}
        <option value="{{ servico.id }}">{{ servico.nome }}</option>
        {% endfor %}
      </select>
      {% if not servicos %}
      <p>Nenhum serviço encontrado!</p>
      {% endif %}
    </div>

    <div class="item-janela-cabeçalho">
      <label for="name">E-mail:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="*Digite seu e-mail"
        required
        autocomplete="email"
      />
    </div>

    <div class="item-janela-cabeçalho item-janela-feedback">
      <label class="label-feedback" for="feedback">Feedback:</label>
      <textarea
        name="feedback"
        id="feedback"
        class="text-input"
        cols="30"
        rows="10"
        placeholder="*Escreva seu feedback"
        required
        autocomplete="feedback"
      >
      </textarea>
    </div>

    <div class="botao-enviar">
      <button type="submit" class="botao">Enviar</button>
    </div>
  </form>
</div>
{% endblock %}
